@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Tactic Sans", sans-serif;
  --font-raj: "Rajdhani", sans-serif;
  --font-chakra: "Chakra Petch", sans-serif;
}

.swv-button-trigger {
  background-color: transparent !important;
  height: auto !important;
  width: auto !important;
  padding: 0 !important;
}

/* Global class to disable fill for SVG icons */
.icon-no-fill,
.icon-no-fill * {
  fill: unset !important;
}
